
@using CMS2017.Models
@model IEnumerable<CMS2017.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@if (!Model.Any())
{
    <p> There is no movies yet !! ...add one to test from here @Html.ActionLink("Create", "AddMovie")</p>}
else
{
    @*Ienumerable list with objects *@

    <table style="width:100%">
        <tr>
            <th>Movie Name</th>
            <th>Number Available</th>
            <th>Date Added</th>
            <th>Number In stock</th>
            <th>Release Date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var movie in Model)
        {


            <tr>
                <td>@Html.ActionLink(movie.Name,"Details",new { id=movie.Id})</td>
                <td>@movie.NumberAvailable</td>
                <td>@movie.DateAdded</td>
                <td>@movie.NumberInStock</td>
                <td>@movie.ReleaseDate</td>
                <td>@Html.ActionLink("","Edit",new { id=movie.Id})</td>
                <td>@Html.ActionLink("Delete","Delete",new { id=movie.Id })</td>
                <td>@Html.ActionLink("Create", "AddMovie", "Movie",new { })
                </td>
            </tr>
        }
    </table>
}


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
